<article class="listing">
  <img src={{employee.image}} alt="profile image">
  <div class="details">
    <h3>{{employee.name}}</h3>
    <div class="detail id">
      <span>Employee Id:</span> {{employee.id}}
    </div>
    <div class="detail dept">
      <span>Department:</span> {{employee.dept}}
    </div>
    <div class="detail experience">
      <span>Experience:</span> {{employee.experience}}
    </div>
    <div class="detail designation">
      <span>Designation:</span> {{employee.designation}}
    </div>
    <div class="detail floor">
      <span>Floor:</span> {{employee.floor}}
    </div>
  </div>
</article>
